<h1>Clients (<%= @total_count %>)</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to "##{client.id}", admin_client_path(client) %></td>
        <td><%= client.name %></td>
        <td><%= client.email %></td>
        <td><%= client.phone %></td>
        <td><%= client.created_at&.strftime("%Y-%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
